# 拉普拉斯方法定轨道六根数

## 1. 已知三次观测的观测坐标，定出某一时刻的位置矢量和速度矢量
按照笔记的方法分别推出各个量

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import datetime
import time

import DDS_CMpack as DDS

%matplotlib inline

In [2]:
# astronomy constants
R_earth = 6371
au = 149597870
r_station_earth = 0.999102*R_earth
r_earth_sun = 1*au

In [15]:
# 计算观测数据的儒略日时间和恒星时
year = 1965; month = 1; days = 14;
UT1_hours = np.array([21.575128333,21.60311055,21.631419722,21.654491388,21.714094166,21.742875555])
jd_t = []
SG_t = []
for i in range(len(UT1_hours)):
    SG_s,jd_s = DDS.UTC2SG(year,month,days,UT1_hours[i])
    SG_t.append(SG_s); jd_t.append(jd_s);
    
SG_array = np.array(SG_t); 
SG_degree = SG_array%(3600*24)/(3600*24)*360

jd_array = np.array(jd_t)
delta_t = (UT1_hours - UT1_hours[0])*3600
delta_t

array([  0.       , 100.7359812, 202.6490004, 285.706998 , 500.2769988,
       603.8899992])

In [14]:
# give the station's lam and phi
lam = 118.82091666
phi = 31.893611111

station = DDS.RADEC2xyz(r_station_earth,RA_station,DEC_station)
np.sqrt(station[0]**2 + station[1]**2 + station[2]**2)

6365.278842

In [5]:
# give 3 observed position
position_fram = pd.DataFrame({'alpha':\
                        np.array([142.935,157.274166667,171.817916667,183.134166667,\
                                  208.640416667,219.102083333]),\
                       'delta':\
                       np.array([8.521111111,-2.395,-14.508333333,-23.56333333,-40.020277777,-44.998611111]),\
                       'jd':jd_array,\
                        'deltaT':delta_t,\
                        'SG': SG_array})

In [17]:
# 需要根据alpha和delta求出所需的测站到地心的RA,DEC
station_earth = []
for i in range(len(position_fram)):
    # give the station's RA and DEC then convert to station_earth
    RA_station = SG_degree[i] + lam
    DEC_station = phi
    station_earth.append(DDS.RADEC2xyz(r_station_earth,RA_station,DEC_station))

station_earth

[array([-5172.20927027, -1566.80845479,  3363.05475229]),
 array([-5160.56038959, -1604.75977483,  3363.05475229]),
 array([-5148.49203645, -1643.06640769,  3363.05475229]),
 array([-5138.44612903, -1674.21887714,  3363.05475229]),
 array([-5111.62222723, -1754.41034984,  3363.05475229]),
 array([-5098.22086321, -1792.98117654,  3363.05475229])]

In [6]:
position_fram

             SG       alpha      delta      deltaT            jd
0 -1.106247e+09  142.935000   8.521111    0.000000 -12769.600293
1 -1.106247e+09  157.274167  -2.395000  100.735981 -12769.599128
2 -1.106247e+09  171.817917 -14.508333  202.649000 -12769.597948
3 -1.106247e+09  183.134167 -23.563333  285.706998 -12769.596987
4 -1.106246e+09  208.640417 -40.020278  500.276999 -12769.594503
5 -1.106246e+09  219.102083 -44.998611  603.889999 -12769.593304

In [31]:
# add Pj ,Qj to positon_fram_fil
Lt = []; Pt = []; Qt = []
Lambda = []; Miu = []; Niu = [];
for j in range(len(position_fram)):
    delta = position_fram['delta'].values[j] ; 
    alpha = position_fram['alpha'].values[j];
    L = [np.cos(delta)*np.cos(alpha),\
         np.cos(delta)*np.sin(alpha),\
         np.sin(delta)]
    
    Lambda.append(L[0]); 
    Miu.append(L[1]);
    Niu.append(L[2]);
    
    Pj = L[2]*station_earth[j][0] - L[0]*station_earth[j][2]
    Qj = L[2]*station_earth[j][1] - L[1]*station_earth[j][2]
    
    Lt.append(L)
    Pt.append(Pj)
    Qt.append(Qj)
#     print(Lt,Pt,Qt)

position_fram_fil = pd.DataFrame({'alpha':\
                        np.array([142.935,157.274166667,171.817916667,183.134166667,\
                                  208.640416667,219.102083333]),\
                       'delta':\
                       np.array([8.521111111,-2.395,-14.508333333,-23.56333333,-40.020277777,-44.998611111]),\
                       'jd':jd_array,\
                        'SG_d': SG_degree,\
                        'deltaT':delta_t,\
                        'P':np.array(Pt),'Q':np.array(Qt),\
                        'Lambda':np.array(Lambda),\
                        'Miu':np.array(Miu),'Niu':np.array(Niu)})

In [32]:
print(Lt)
position_fram_fil

[[0.004619259152949292, 0.6187162104263949, 0.7856009886707621], [-0.7201622502846097, -0.14189044188209657, -0.6791416904943406], [0.20513157999811293, -0.2991224555179867, -0.9319049262088746], [0.0008391557493394374, 0.0011061414527015806, 0.999999036133893], [-0.1854950469560597, -0.6561948472881242, -0.7314368803576181], [0.3632510117185204, -0.3811225777821724, -0.8501730901352638]]

,Lambda,Miu,Niu,P,Q,SG_d,alpha,delta,deltaT,jd
0,0.004619,0.618716,0.785601,-4078.827538,-3311.662763,78.032128,142.935000,8.521111,0.000000,-12769.600293
1,-0.720162,-0.141890,-0.679142,5926.696785,1567.044591,78.453011,157.274167,-2.395000,100.735981,-12769.599128
2,0.205132,-0.299122,-0.931905,4108.036356,2537.146875,78.878811,171.817917,-14.508333,202.649000,-12769.597948
3,0.000839,0.001106,0.999999,-5141.263303,-1677.937278,79.225833,183.134167,-23.563333,285.706998,-12769.596987
4,-0.185495,-0.656195,-0.731437,4362.659015,3490.059633,80.122323,208.640417,-40.020278,500.276999,-12769.594503
5,0.363251,-0.381123,-0.850173,3112.737144,2806.080444,80.555226,219.102083,-44.998611,603.889999,-12769.593304

In [33]:
# 为循环重新format，取出需要的数据
Observe_time = len(position_fram)

obs = [0,1,2] # 取1，3, 5次的观测

# 取定t0 
index = 1
t0 = 0.5*(position_fram_fil['deltaT'].values[index] + position_fram_fil['deltaT'].values[index+2])
print(t0)
# set F0 and G0 to begin the loop

F0 = np.ones(Observe_time).tolist()
G0 = (position_fram_fil['deltaT'].values - t0).tolist()

FN0 = []; GN0 = []
P = []; Q = []
Lambda = []; Niu = []; Miu = []
tao = [];
for i in range(len(obs)): # 把要用的那几次观测数据提取出来：
    j = obs[i]
    FN0.append(F0[j])
    GN0.append(G0[j])
    P.append(position_fram_fil['P'].values[j])
    Q.append(position_fram_fil['Q'].values[j])
    Niu.append(position_fram_fil['Niu'].values[j])
    Miu.append(position_fram_fil['Miu'].values[j])
    Lambda.append(position_fram_fil['Lambda'].values[j])
    tao.append(position_fram_fil['deltaT'].values[j] - t0)

193.22148960000618

In [28]:
# 循环次数 

Nwind = 0
key = 0
F = [FN0]; G = [GN0]

while key == 0:
    
    # 在一次循环中:
    # 最终的目的是解(A,b)的增广矩阵 - 对应(x,y,z,vx,vy,vz)
    A = []
    b = []

    # we have : Lt, position_fram_fil
    ## 从F,G 解r0,v0
    for j in range(len(obs)): # 三次观测(现在的F,G已经只剩我们需要的那几次观测的值了)

        A.append([Niu[j]*F[Nwind][j],0,-1*Lambda[j]*F[Nwind][j],Niu[j]*G[Nwind][j],0,-1*Lambda[j]*G[Nwind][j]])
        A.append([0,Niu[j]*F[Nwind][j],-1*Miu[j]*F[Nwind][j],0,Niu[j]*G[Nwind][j],-1*Miu[j]*G[Nwind][j]])
        b.append(P[j])
        b.append(Q[j])

    AA = np.array(A)
    bb = np.array(b)
    
    ans = np.linalg.solve(AA,bb) #ans 6 位对应(x,y,z,vx,vy,vz)
#     print(bb)
    r0 = np.sqrt(ans[0]**2 + ans[1]**2 + ans[2]**2)
    v0 = np.sqrt(ans[3]**2 + ans[4]**2 + ans[5]**2)
    print(r0,v0)
    
    Nwind += 1
    print(Nwind)
    ## r0,v0获得F,G
    FNw = []; GNw = [];
    for j in range(len(obs)):
#         print(j)
        FNw.append(DDS.F(r0,v0,tao[j]))
        GNw.append(DDS.G(r0,v0,tao[j]))
    
    F.append(FNw); G.append(GNw)
    delta_F = np.abs(np.array(F[Nwind]) - np.array(F[Nwind - 1]));
    delta_G = np.abs(np.array(G[Nwind]) - np.array(G[Nwind - 1]))
    big_delta = np.max([np.max(delta_F),np.max(delta_G)])
    
    print(big_delta)
    
    if big_delta < 1e-14:
        print('end')
        print(delta_F,delta_G)
        key = 1

# deltaF 和 deltaG 都太小了！

6365.498521334698 0.3924916309175834
1
4.74590950716447e-06
6365.498256821943 0.39249342692115113
2
9.947598300641403e-13
6365.498256821888 0.39249342692152184
3
0.0
end
[0. 0. 0.] [0. 0. 0.]

In [11]:
DDS.F(1,2,3)

-145.25

In [33]:
# 解矩阵
A = [[1,2,3],[4,5,6],[7,8,9]]
AA = np.array(A)
b = np.array([2,3,4])
print(AA)
print(b)
np.linalg.solve(AA,b)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[2 3 4]

array([ 0.06666667, -1.13333333,  1.4       ])

In [44]:
f = np.ones(4)
f

array([1., 1., 1., 1.])