In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import time

import DDS_CMpack as CM

%matplotlib inline

data_dir = '/Users/dengdingshan/Documents/GitHub/dds_python/Summer2018/data/'

In [17]:
position_fram = pd.read_csv(data_dir + 'Echo1st.csv')
observe_times = len(position_fram)

In [83]:
position_fram

   UT1_hours       alpha      delta  year  month  days
0  21.575128  142.935000   8.521111  1965      1    14
1  21.603111  157.274167  -2.395000  1965      1    14
2  21.631420  171.817917 -14.508333  1965      1    14
3  21.654491  183.134167 -23.563333  1965      1    14
4  21.714094  208.640417 -40.020278  1965      1    14
5  21.742876  219.102083 -44.998611  1965      1    14

In [84]:
# 常数表
R_earth = 6371
au = 149597870
r_station_earth = 0.999102 #*R_earth
r_earth_sun = 1*au

time_unit = 806.81163 #806.8116 # SI 

# 测站的地理位置
lam = 118.82091666 # degrees
phi = 31.893611111 # degrees

# headers index: UT1_hours  alpha  delta  year  month  days

UT1_hours = position_fram['UT1_hours']
alpha = position_fram['alpha']
delta = position_fram['delta']
year = position_fram['year']
month = position_fram['month']
days = position_fram['days']

In [97]:
# 进行拉普拉斯方法所需要的星表归算

P = []
Q = []

for i in range(observe_times):   
    # 计算观测数据的儒略日时间和恒星时
    SG_s,jd_s = CM.UTC2SG(year[i],month[i],days[i],UT1_hours[i])
    SG_degree = SG_s%(3600*24)/(3600*24)*360
    
    # 通过每一个恒星时去归算出测站到地心的RA,DEC
    RA_station = SG_degree + lam
    DEC_station = phi
    station_earth = CM.RADEC2xyz(r_station_earth,RA_station,DEC_station)
    
    X,Y,Z = station_earth
    
    # 再根据测站到地心的位置最终酸楚Pj,Qj
    delta_pi = delta[i]*2*np.pi/360
    alpha_pi = alpha[i]*2*np.pi/360
    
    Lambda = np.cos(delta_pi)*np.cos(alpha_pi)
    Miu = np.cos(delta_pi)*np.sin(alpha_pi)
    Niu = np.sin(delta_pi)
    
    P_j = Niu*X - Lambda*Z
    Q_j = Niu*Y - Miu*Z
    
    P.append(P_j);Q.append(Q_j)

PF_fill = position_fram
PF_fill['P'] = np.array(P)
PF_fill['Q'] = np.array(Q)

In [98]:
PF_fill

   UT1_hours       alpha      delta  year  month  days         P         Q
0  21.575128  142.935000   8.521111  1965      1    14  0.296272 -0.351086
1  21.603111  157.274167  -2.395000  1965      1    14  0.520311 -0.193223
2  21.631420  171.817917 -14.508333  1965      1    14  0.708283 -0.008122
3  21.654491  183.134167 -23.563333  1965      1    14  0.805554  0.131507
4  21.714094  208.640417 -40.020278  1965      1    14  0.870732  0.370844
5  21.742876  219.102083 -44.998611  1965      1    14  0.855495  0.434417

In [103]:
Nwind = 0
Ob_index = [i for i in range(6)]

t0 = PF_fill['UT1_hours'].sum()/6

# 给定所需要的按照理论单位的时间值
T = (PF_fill['UT1_hours'] - t0)

t0 =

[0, 1, 2, 3, 4, 5]